<div class="container">
    <div class="row main">
        <div class="two-thirds column">
            <div class="timer">
                <h2>Work!</h2>
                <h1>25:00</h1>
                <button class="button-primary">Start</button>
                <button class="button-primary">Reset</button>
            </div>
        </div>
        <div class="one-third column">
            <div class="list">
                <h4>Tasks</h4>
                <ul>
                    <li>
                        Task Task Task
                    </li>
                    <li>
                        More Task task
                    </li>
                    <li>
                        Oh yes, another task except this one is long
                    </li>
                    <li>
                        Yet another
                    </li>
                    <li>
                        And another
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
        <h3>Sign In</h3>
    </footer>
</div>
