<div class="container">
    <div class="row main">
        <div class="two-thirds column">
            <div ng-controller="TimerCtrl as timer" class="timer">
                <h2 ng-hide="timer.session.onBreak">Work!</h2>
                <h2 ng-show="timer.session.onBreak">Break!</h2>
                <h1 ng-bind="(timer.session.ticker | timecode)"></h1>
                <button class="button-primary" ng-click="timer.session.startSession()">Start</button>
                <button class="button-primary" ng-click="timer.session.resetSession()">Reset</button>
            </div>
        </div>
        <div class="one-third column">
            <div ng-controller="TaskCtrl as taskctrl" class="list">
                <h4>Tasks</h4>
                <table ng-repeat="task in taskctrl.tasks.all">
                    <tr>
                        <td ng-mouseover="hovered = true" ng-mouseleave="hovered = false" ng-click="taskctrl.tasks.removeItem(task)" class="checkcircle">
                            <span ng-show="!hovered" class="ion-android-radio-button-off"></span>
                            <span ng-show="hovered" class="ion-android-checkmark-circle"></span>
                        </td>
                        <td>
                            {{task.title}}
                        </td>
                    </tr>
                </table>
                <form ng-submit="taskctrl.tasks.addItem()">
                    <label>Enter task:</label>
                    <input type="text" ng-model="taskctrl.tasks.newItem"/>
                </form>
            </div>
        </div>
    </div>
</div>
