<div class="container">
    <div class="row main">
        <div class="two-thirds column">
            <div ng-controller="TimerCtrl as timer" class="timer">
                <h2 ng-hide="timer.session.onBreak">Work!</h2>
                <h2 ng-show="timer.session.onBreak">Break!</h2>
                <h1 ng-bind="timer.session.ticker"></h1>
                <button class="button-primary" ng-click="timer.session.startSession()">Start</button>
                <button class="button-primary" ng-click="timer.session.resetSession()">Reset</button>
            </div>
        </div>
        <div class="one-third column">
            <div class="list">
                <h4>Tasks</h4>
                <ul>
                    <li>
                        Task Task Task
                    </li>
                    <li>
                        More Task task
                    </li>
                    <li>
                        Oh yes, another task except this one is long
                    </li>
                    <li>
                        Yet another
                    </li>
                    <li>
                        And another
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
        <h3>Sign In</h3>
    </footer>
</div>
